/* Common Styling for all pages */
*{
    margin: 5px;
    padding: 5px;
    font-family: 'Britannic Bold', sans-serif;
}

/* Styling for index.html */
.index-page *{
    color: #0000ff99;
    background-color: rgba(42, 42, 212,.01);
}

/* Styling for brownie.html */
.brownie-page *{
    color: brown;
    background-color: rgba(42, 42, 212,.01);
}

/* Styling for pasta.html */
.pasta-page *{
    color: orangered;
    background-color: rgba(42, 42, 212,.01);    
}